

body {
    background-color: white;
    margin-top: 2rem;
}

.table-title {
    text-align: center;
    color: #000;
    font-size:36px;
    font-weight: 700;
    letter-spacing: 7px;
    background-color: white;
    width: 100%;
    padding:20px 0px
}

.table th {
    background-color: #d71f27;
    font-size:26px;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: center;
    margin: 0px;
}

.table td {
    color: #000;
    font-size:26px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    border-color: #242424;
    border: 1px solid;
    margin: 1px !important;
    padding: 1px !important;
    position: relative;
    z-index: -7;
}

.table tbody {
    max-height: 300px;
    /* Set the maximum height for the tbody */
    overflow: hidden;
    /* Hide overflow content */
}


.marquee-animation td {
    animation: marquee 10s linear infinite;
    /* Apply the marquee animation */
}

@keyframes marquee {
    0% {
        transform: translateY(0);
        /* Start from the top */
    }

    100% {
        transform: translateY(calc(-100% - 100px));
        /* Move upwards by the height of one row */
    }
}
